{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "react/no-unescaped-entities": "warn",
    "react/prop-types": ["warn", { "skipUndeclared": true }],
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
